<html lang="en">
<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<title>Knowledge Base by ChristieTempleton.pro</title>
	<meta name="robots" content="noindex,nofollow">
	<link rel="dns-prefetch" href="//s.w.org">
	<link rel="dns-prefetch" href="//d3ijh37r9qzozj.cloudfront.net">
	<link rel="dns-prefetch" href="//mk0herothemesdek9380.kinstacdn.com">
	<link rel="dns-prefetch" href="//kinstacdn.com">
	<link href="https://fonts.gstatic.com" crossorigin="" rel="preconnect">
	<link rel="alternate" type="application/rss+xml" title="KnowAll » Feed" href="/feed/">
	<link rel="alternate" type="application/rss+xml" title="KnowAll » Comments Feed" href="/comments/feed/">
	{{ partial "wp/analytics" . }}
	<link rel="stylesheet" id="wp-block-library-css" href="css/style.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="wp-block-library-theme-css" href="css/theme.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="ht-theme-style-css" href="" type="text/css" media="all">
	
	<script type="text/javascript" src="/js/frontend.min-7.10.4.js"></script>
	<script type="text/javascript" src="/js/jquery-1.12.4-wp.js"></script>
	<!-- <script type="text/javascript" src="/js/jquery-migrate.min-1.4.1.js"></script> -->
	<link rel="https://api.w.org/" href="/wp-json/">
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd">
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml">
	
	{{- partial "wp/styles" . }}
	
	{{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
	{{- $styles := resources.Get "sass/main.sass" | resources.ExecuteAsTemplate "main.sass" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
	<link rel = 'stylesheet' href = '{{ $styles.Permalink }}' integrity = '{{ $styles.Data.Integrity }}'>
</head>
<link rel="stylesheet" type="text/css" href="css/style-1.6.0.css">
<script src="https://kit.fontawesome.com/b70a86796b.js" crossorigin="anonymous"></script>

<body class="home blog wp-embed-responsive" itemscope="" itemtype="https://schema.org/WebPage" data-spy="scroll" data-offset="40" data-target="#navtoc">
	<div class="ht-sitecontainer ht-sitecontainer--wide">
		<div class="site-header">
			<header class="site-header__banner" itemscope="" itemtype="http://schema.org/WPHeader">
				<div class="ht-container">
					<div class="site-logo">
						<a href="http://knowledgebase.christietempleton.pro" data-ht-sitetitle="KnowAll">
							<img alt="KnowledgeBase by Christie Templeton" src="/images/logo.png" class="logo-white" data-was-processed="true">
							<h1 class="site-logo__title" itemprop="headline">KnowAll</h1> 
						</a>
					</div>

					
					<nav class="nav-header" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
						<button id="ht-navtoggle" class="nav-header__mtoggle">
							<span>Menu</span>
						</button>
						<ul id="menu-header-menu" class="nav-header__menuwrapper" style="top: 103px;">
							<li id="menu-item-416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-416">
								<a href="#">Link</a>
								<ul class="sub-menu">
									<li id="menu-item-141" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-141">
										<a href="#">Instant Answers</a>
									</li>
									<li id="menu-item-142" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-142">
										<a href="#">Customizable</a>
									</li>
									<li id="menu-item-143" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-143">
										<a href="#">Responsive</a>
									</li>
									<li id="menu-item-311" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-311">
										<a href="#">Analytics Dashboard</a>
									</li>
									<li id="menu-item-312" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-312">
										<a href="#">Article Feedback</a>
									</li>
									<li id="menu-item-313" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-313">
										<a href="#">Search Analytics</a>
									</li>
								</ul>
							</li>
							<li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135">
								<a href="#/">Shortcodes</a>
							</li>
							<li id="menu-item-329" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-329">
								<a href="#">FAQ</a>
							</li>
							<li id="menu-item-138" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-138">
								<a target="_blank" rel="noopener noreferrer" href="https://christietempleton.pro/contact">Hire Christie Templeton</a>
							</li>
						</ul>
					</nav>
				</div>
			</header>
			
			<div class="site-header__search">
				<div class="ht-container">
					
					<h2 class="site-header__title">What's Your Question?</h2>
					
					<!--SEARCH FORM original-->
					
					<form class="hkb-site-search search" method="get" action="http://knowledgebase.christietempleton.pro/">
						<label class="hkb-screen-reader-text search_label" for="search-by"></label>
						<input class="hkb-site-search__field search_field" type="text" value="" placeholder="Search the knowledge base..." name="s" autocomplete="off" data-search-input id="search-by">
						<div class="search_results"></div>
						<img class="hkb-site-search__loader lazyloading" src="/loading.svg" alt="Searching..." data-was-processed="true">
						<input type="hidden" name="ht-kb-search" value="1">
						<input type="hidden" name="lang" value="">
						<button class="hkb-site-search__button" type="submit">
							<span>Search</span>
						</button>
					</form>
				</div>
			</div>
		</div>
		
		<!--HELP TOPICS-->
		
		<div class="ht-page ht-page--sidebarright">
			<div class="ht-container">
				<div class="ht-page__content">
					<h2 class="hkb-archive__title">Help Topics</h2>
					<ul class="hkb-archive  hkb-archive--2cols">
						<li>
							<div class="hkb-category  hkb-category--withdesc hkb-category--style7 hkb-category--withicon hkb-category--4">
								<!--  MY ACCOUNT-->
								<a class="hkb-category__link" href="/account">
									<div class="hkb-category__iconwrap">
										<span style="color:#f8aa00">
											<i class="fas fa-user-cog" style="font-size:35px;"></i>
										</span>
									</div>
									<div class="hkb-category__content">
										<h2 class="hkb-category__title"> My Account</h2>
										<div class="hkb-category__description">Manage your account and it's features.</div>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="hkb-category  hkb-category--withdesc hkb-category--style7 hkb-category--withicon hkb-category--3">
								<a class="hkb-category__link" href="/getting-start">
									<div class="hkb-category__iconwrap">
										<span style="color:#f8aa00">
											<i class="fas fa-rocket"style="font-size:35px;"></i>
										</span>
										
									</div>
									
									<!--getting started-->
									
									<div class="hkb-category__content">
										<h2 class="hkb-category__title"> Getting Started</h2>
										<div class="hkb-category__description">Articles to get you up and running, quick and easy.</div>
									</div>
								</a>
							</div>
						</li>					
						<li>
							<div class="hkb-category  hkb-category--withdesc hkb-category--style7 hkb-category--withicon hkb-category--2">
								
								<!-- billing and payments section-->
								
								<a class="hkb-category__link" href="#">
									<div class="hkb-category__iconwrap">
										
										<span style="color:#f8aa00">
											<i class="fas fa-file-invoice-dollar" style="font-size:35px;"></i>
										</span>
										
										<!-- BILLING AND PAYMENTS ICON	<img src="https://mk0herothemesdek9380.kinstacdn.com/wp-content/uploads/sites/23/2016/03/01-1.png" class="hkb-category__icon lazyloading" alt="" data-was-processed="true">-->
										
									</div>
									<div class="hkb-category__content">
										<h2 class="hkb-category__title"> Billing &amp; Payments</h2>
										<div class="hkb-category__description">Information about how we charge you for our services.</div>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="hkb-category  hkb-category--withdesc hkb-category--style7 hkb-category--withicon hkb-category--6">
								<a class="hkb-category__link" href="/mobileapp">
									<div class="hkb-category__iconwrap">
										
										<!--MOBILAPPICON-->
										<span style="color:#f8aa00">
											<i class="fas fa-mobile-alt" style="font-size:35px;"></i>
										</span>
										
										<!--<img src="https://mk0herothemesdek9380.kinstacdn.com/wp-content/uploads/sites/23/2016/03/11-1.png" class="hkb-category__icon lazyloading" alt="" data-was-processed="true">-->
										
									</div>
									<div class="hkb-category__content">
										<h2 class="hkb-category__title"> Mobile App</h2>
										<div class="hkb-category__description">Documentation and troubleshooting our mobile app.</div>
									</div>
								</a>
							</div>
						</li>			
						<li>
							<div class="hkb-category  hkb-category--withdesc hkb-category--style7 hkb-category--withicon hkb-category--9">
								<a class="hkb-category__link" href="/legal">
									<div class="hkb-category__iconwrap">
										<span style="color:#f8aa00">
											<i class="fas fa-file-contract"style="font-size:35px;"></i>
										</span>
										<!--
											<img src="https://mk0herothemesdek9380.kinstacdn.com/wp-content/uploads/sites/23/2016/03/02-1.png" class="hkb-category__icon lazyloading" alt="" data-was-processed="true">
										-->
										
									</div>
									
									<div class="hkb-category__content">
										<h2 class="hkb-category__title"> Copyright &amp; Legal</h2>
										<div class="hkb-category__description">Important information about how we handle your privacy and data.</div>
									</div>
								</a>
							</div>
						</li>
						<li>
							<div class="hkb-category  hkb-category--withdesc hkb-category--style7 hkb-category--withicon hkb-category--7">
								<a class="hkb-category__link" href="/developers">
									<div class="hkb-category__iconwrap">
										
										<!--
											<img src="https://mk0herothemesdek9380.kinstacdn.com/wp-content/uploads/sites/23/2016/03/13-1.png" class="hkb-category__icon lazyloading" alt="" data-was-processed="true">
											
										-->
										<span style="color:#f8aa00">
											<i class="fas fa-laptop-code" style="font-size:35px;"></i>
										</span>
										
									</div>
									<div class="hkb-category__content">
										<h2 class="hkb-category__title"> Developers</h2>
										<div class="hkb-category__description">Developer documentation and integration features.</div>
									</div>
								</a>
							</div>
						</li>
					</ul>
					
					<div class="ht-mobile-exit">
						<strong class="ht-mobile-exit__title">Need Support?</strong>
						<div class="hkb_widget_exit__content">Can't find the answer you're looking for? Don't worry we're here to help!</div>
						<a class="hkb_widget_exit__btn" data-ht-kb-exit-href="?hkb-redirect&amp;nonce=0ffac73328&amp;check=3js7d&amp;redirect=http%3A%2F%2Fdemo.herothemes.com%2Fknowall%2Fsubmit-a-ticket%2F&amp;otype=&amp;oid=&amp;source=widget" href="https://christietempleton.pro/contact" target="_blank" rel="nofollow">Contact Support</a>
					</div>
				</div>
				<aside class="sidebar" itemscope="" itemtype="https://schema.org/WPSideBar">
					<section id="ht-kb-articles-widget-2" class="widget hkb_widget_articles">
						<h3 class="widget__title">Popular Articles</h3>
						<ul>
							<li class="hkb-widget-article__format-standard">
								<a class="hkb-widget__entry-title" href="/account/how-to-create-an-account/">How to Create an Account</a>
							</li>
							<li class="hkb-widget-article__format-standard">
								<a class="hkb-widget__entry-title" href="/account/how-does-the-30-day-money-back-guarantee-work/">How Does the 30 Day Money Back Guarantee Work?</a>
							</li>
							<li class="hkb-widget-article__format-standard">
								<a class="hkb-widget__entry-title" href="/account/how-our-pricing-plans-work/">How Our Pricing Plans Work</a>
							</li>
							<li class="hkb-widget-article__format-standard">
								<a class="hkb-widget__entry-title" href="/account/how-can-i-edit-my-already-existing-page/">How Can I Edit My Already Existing Page?</a>
							</li>
							<li class="hkb-widget-article__format-standard">
								<a class="hkb-widget__entry-title" href="/account//best-practices-for-account-security/">Best Practices for Account Security</a>
							</li>
						</ul>
					</section>
					<section id="ht-kb-exit-widget-2" class="widget hkb_widget_exit">
						<h3 class="widget__title">Support</h3>
						<div class="hkb_widget_exit__content">Can't find the answer you're looking for? Click here to request support!</div>
						<a class="hkb_widget_exit__btn"n2 href="https://christietempleton.pro/contact" target="_blank" rel="nofollow">Contact Support</a>
					</section>
				</aside>
			</div>
		</div>


		<footer style="background-color:#f8aa00">
			<div >
		{{ $footer := print "_footer." .Lang }}
		{{ range where .Site.Pages "File.BaseFileName" $footer }}
		  {{ .Content }} 
		{{else}}
		  {{ if .Site.GetPage "page" "_footer.md" }}
			{{(.Site.GetPage "page" "_footer.md").Content}}
		  {{else}}
			{{ T "create-footer-md" }}
		  {{end}}
		{{end}}
		
		
			</div>



		
	<!--</footer>	class="site-footer" itemscope="" itemtype="https://schema.org/WPFooter">
			<div class="ht-container">
				<nav class="nav-footer">
					<div class="menu-header-menu-container">
						<ul id="menu-header-menu-1" class="">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-416">
								<a href="#">Features</a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135">
								<a href="/shortcodes/">Shortcodes</a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-329">
								<a href="/faq/">FAQ</a>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-138">
								<a target="_blank" rel="noopener noreferrer" href="https://herothemes.com/themes/knowall-wordpress-knowledge-base/">Buy KnowAll</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>-->
		</footer>
		<span id="bruteprotect_uptime_check_string" style="display:none;">7ads6x98y</span>
		
		{{- partial "wp/scripts" . }}
	</div>
	
	{{- partial "scripts" . }}
	{{- partial "original/scripts" . }}
	
	<script async="" src="/js/lazyload-10.5.2.min.js"></script>
	<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me -->
	<div id="hkb-jquery-live-search" style="display: none;"></div>
	<div class="extLives"></div>
	<img src="chrome-extension://cabldpgmkejdhjbgmeooocablkljdbcg/icons/share_image.png" id="socialpilot-extension-hover-button" style="cursor:pointer;display:none;"><span id="buffer-extension-hover-button" style="display: none; position: absolute; z-index: 8675309; width: 100px; height: 25px; background-image: url(&quot;chrome-extension://noojglkidnpfjbincgijbaiedldjfbhh/data/shared/img/buffer-hover-icon@1x.png&quot;); background-size: 100px 25px; opacity: 0.9; cursor: pointer; top: 736.563px; left: 89.5px;">
	</span><span style="margin: 0px auto; border: 2px dotted rgb(0, 0, 0); position: absolute; z-index: 2147483647; visibility: hidden; left: 596px; width: 0px; top: 256px; height: 0px;"
	></span><span style="z-index: 2147483647; position: absolute; visibility: hidden; left: 581px; width: 50px; top: 241px; height: 20px; font-size: 10px; color: black;">
	</span>
</body>
</html>
