
  

<!--
  <div class="chevrons">
    {{ partial "next-prev-page.html" . }}
  </div>-->

  </section>

    <div class="ht-mobile-exit">
      <strong class="ht-mobile-exit__title">Need Support?</strong>
      <div class="hkb_widget_exit__content">Can't find the answer you're looking for? Don't worry we're here to help!</div>
      <a class="hkb_widget_exit__btn" data-ht-kb-exit-href="?hkb-redirect&amp;nonce=0ffac73328&amp;check=3js7d&amp;redirect=http%3A%2F%2Fdemo.herothemes.com%2Fknowall%2Fsubmit-a-ticket%2F&amp;otype=&amp;oid=&amp;source=widget" href="https://christietempleton.pro/contact" target="_blank" rel="nofollow">Contact Support</a>
    </div>

</article>

<style>
  
  &:before {
      background: url(ribbon.png) 0 0 / 100% no-repeat;
      content: '';
      height: .35rem;
      left: 0;
      position: absolute;
      right: 0;
      top: 100%
  }
  </style>






  
<div class="footline">
    {{if .Params.tags }}
    <div class="tags"> 
      {{ range $index, $tag := .Params.tags }}
        <a class="label label-default" href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}">{{ $tag }}</a>
      {{ end }}
    </div>
    {{end}}

    {{with .Params.LastModifierDisplayName}}
    <div class="author">
        <i class='fa fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a>
    </div>
    {{end}}

    {{ if not .Page.Lastmod.IsZero }}
    <div class="date">
        <i class='fa fa-calendar'></i> {{T "last-update-on"}} {{ .Page.Lastmod.Format "02/01/2006" }}
    </div>
    {{end}}

    {{ if .Site.Params.editURL }}
    <div class="github-link">
      <a href="{{ .Site.Params.editURL }}{{ replace .File.Dir "\\" "/" }}{{ .File.LogicalName }}" target="blank"><!--<i class="fa fa-code-fork"></i>-->
        {{T "Edit-this-page"}}</a>
    </div>
    {{end}}
  </div>

  <footer style="background-color:#f8aa00">
	<div >
{{ $footer := print "_footer." .Lang }}
{{ range where .Site.Pages "File.BaseFileName" $footer }}
  {{ .Content }} 
{{else}}
  {{ if .Site.GetPage "page" "_footer.md" }}
    {{(.Site.GetPage "page" "_footer.md").Content}}
  {{else}}
    {{ T "create-footer-md" }}
  {{end}}
{{end}}


	</div>
</footer>

{{ partial "flex/scripts.html" . }}
