{{ $header := print "_header." .Lang }}
	{{ range where .Site.Pages "Source.BaseFileName" $header }}
	{{ .Content }} 
	{{else}}
  {{ if .Site.GetPage "page" "_header.md" }}
    {{(.Site.GetPage "page" "_header.md").Content}}
  {{else}}

  <a class="baselink" href="{{.Site.BaseURL}}">
  <img alt="KnowledgeBase by Christie Templeton" src="/images/logo.png" class="logo-white" data-was-processed="true"></a>
   <!-- <a class="baselink" href="{{.Site.BaseURL}}">{{.Site.Title}}</a>-->
    
  {{end}}
{{end}}
